<figure class="photo">
  <img class="photo__img" src="color.jpg" alt="color">
  <figcaption class="photo__caption">
    <blockquote class="photo_quote"></blockquote>
  </figcaption>
</figure>


<figure class="photo">
  <img class="photo__img photo__img--framed" src="color.jpg" alt="color">
  <figcaption class="photo__caption photo__caption--large">
    look
  </figcaption>
</figure>


<div class="nav">
  <ul class="nav__list">
    <li class="nav__item">
      <a  class="nav__link" href="">One</a>
    </li>
    <li class="nav__item">
      <a  class="nav__link nav__link--active" href="">Two</a>
    </li>
    <li class="nav__item">
      <a  class="nav__link" href="">Three</a>
    </li>
    <li class="nav__item">
      <a  class="nav__link" href="">Four</a>
    </li>
  </ul>
</div>
