<p>angular-forms works!</p>


<form [formGroup]="loginForm" (ngSubmit)="saveLogin()">
      <input type="text" formControlName="username"/>
      <p class="error-required-username" *ngIf="loginForm.controls['username'].touched && loginForm.controls['username']?.errors?.required == true">Username required</p>
      <br/>
      <input type="text" formControlName="password"/>
       <p name="error-required-password" *ngIf="loginForm.controls['password'].touched && loginForm.controls['password']?.errors?.required == true">Username required</p>
              <p *ngIf="loginForm.controls['password']?.errors?.['minlength']">Min Length required</p>
                     <p *ngIf="loginForm.controls['password']?.errors?.['maxlength']">Max length required</p>

      <br/>
      <button type="submit">LOGIN</button>
</form>

