  :host {
    div {
        padding:20px;
        background-color: green;
    }
    h2 {
        color: white;
    }

    .description {
        text-decoration: underline;
        background-color: red;
    }
 }